:root {
    --color-bg: #FFFFFF;
    --color-footer-background: #E9DED4;
    --color-text: #313131;
    --color-primary: #F54932;
    --color-btn-background: #1F1F1F;
    --color-btn-hover: #FBCE51;
    --color-btn-disabled: #D6D6D6;
    --color-link: #3057A2;
    --color-border: #D0D0D0;
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p, span {
    font-family: 'Golos Text', sans-serif;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

/* header */

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0 auto;
    padding: 26px 72px 0;
    max-width: 1366px;
    width: 100%;
}

/* main */

main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hero */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 140px;
    padding: 124px 72px 132px;
    width: 100%;
    height: 74vh;
}

.hero .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-big.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero__container {
    width: 100%;
    max-width: 1366px;
    padding: 0 72px;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 542px;
    margin-bottom: 24px;
    /* max-width: 1366px; */
}

.hero__title {    
    margin-bottom: 24px;
}

.hero__title h1{
    font-size: 60px;
    line-height: 110%;
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
}

.hero__title h1.center {
    text-align: center;
}

.hero__description {
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 40px;
}

.hero__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__buttons .btn {
    width: 263px;
    height: 72px;
    outline: none;
    border: none;
    border-radius: 66px;
    padding: 10px 49px;
    font-size: 16px;
    background-color: var(--color-btn-background);
}

.hero__buttons .btn span {
    display: block;
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: var(--color-bg);
    text-align: center;
}

.hero__buttons .btn.btn-secondary {
    background-color: transparent;
    border: 2px solid var(--color-btn-background);
}

.hero__buttons .btn.btn-secondary span{
    color: var(--color-btn-background);
}

/* event */

.event {
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0 72px;
    max-width: 1366px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.event__inner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 64px;
}

.event__title {
    width: 100%;
    max-width: 764px;
}

.event__title h2 {
    display: inline-block;
    font-size: 36px;
    line-height: 135%;
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
}

.event__title h2 strong {
    font-weight: 600;
    color: var(--color-primary);
}

.event__inner .image {
    width: 394px;
    height: 250px;
    border-radius: 100%;
}

.event__inner .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.event__info {
    display: flex;
    align-items: flex-start;
    gap: 44px;
    width: 100%;
}

.event__image {
    position: relative;
    width: 609px;
    height: 250px;
}

.event__image img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: scale(1.1);
}

.event__info-item { 
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 704px;
}

.event__info-item-title h3 {
    font-size: 36px;
    line-height: 135%;
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
}

.event__info-item-title h3 strong {
    font-weight: 600;
    color: var(--color-primary);
}

.event__info-schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}

.event__info-schedule-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none; 
    width: 100%;
    padding: 0;
}
.event__info-schedule-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.event__info-schedule-item:not(:last-child) {
    border-bottom: 2px solid var(--color-border);
}

.event__info-schedule-item span {
    display: inline-block;
    padding: 16px 0;
    font-size: 20px;
    line-height: 110%;
    font-weight: 400;
    color: var(--color-text);
}

.event__info-schedule-item:first-child span {
    padding-top: 0;
}

.event__info-schedule-item:last-child span {
    padding-bottom: 0;
}

.event__info-schedule-item .value-container{
    display: flex;
    align-items: center;
    gap: 12px;
}


.event__info-schedule-item .description {
    border-right: 2px solid var(--color-border);
    opacity: .7;
    width: 306px;
}

.event__info-schedule-item  .value {
    font-weight: 600;
}

.event__info-schedule-item  .value.sale {
    position: relative;
}

.event__info-schedule-item  .value.sale::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
}

.event__info-link{
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-link);
}

/* roadmap */

.roadmap {
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0 72px;
    max-width: 1366px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}

.roadmap__title {
    position: relative;
    width: 806px;
}

.roadmap__title h2 {
    display: inline-block;
    font-size: 54px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
}

.roadmap__title p {
    position: absolute;
    bottom: 10px;
    right: 225px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-link);
    width: 280px;
}

.roadmap__items {
    position: relative;
}

.roadmap__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
    "w12 w12 s3"
    "s4  s5  s3"
    "s6 w7 w7";
    gap: 20px;
}
  
.roadmap__card--w12 { grid-area: w12; }
.roadmap__card--s3  { grid-area: s3; }
.roadmap__card--s4  { grid-area: s4; }
.roadmap__card--s5  { grid-area: s5; }
.roadmap__card--s6 { grid-area: s6; }
.roadmap__card--w7 { grid-area: w7; }


.roadmap__card--wide {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.roadmap__card--s5 .roadmap__step{
    padding-right: 40px;
}
.roadmap__card--w7 .roadmap__step{
    padding-right: 290px;
}
.roadmap__step {
    display: grid;
    grid-template-columns: 36px 1fr;
    gap: 16px;
    align-items: start;
    padding: 20px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.roadmap__step p {
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    color: var(--color-text);
}

.roadmap__step::before {
    content: attr(data-n);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    font-family: 'Golos Text', sans-serif;
    background-color: var(--color-bg);
    border-radius: 100%;
    color: var(--color-text);
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    padding: 8px 10px;
}

.roadmap__image {
    position: absolute;
    bottom: 0;
    right: -62px;
}

/* participants */

.participants {
    margin: 0 auto;
    margin-bottom: 200px;
    max-width: calc(1366px - 144px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}

.participants__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.participants__title h2 {
    font-size: 54px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
}

.participants__scroll {
    display: flex;
    align-items: center;
    gap: 14px;
}

.participants__scroll .btn.btn-scroll { 
    padding: 0;
    padding-left: 3px;
    width: 44px;
    height: 44px;
    background-color: var(--color-text);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.participants__scroll .btn.btn-scroll svg {
    width: 16px;
}

.participants__scroll .btn.btn-scroll.btn-scroll-left {
    transform: rotate(180deg);
}

.participants__progress span{
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-text);
}


.participants__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;    
    transition: transform 450ms ease;
}

.participants__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 394px;
    flex: 0 0 394px;
}

.participants__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.participants__card-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.participants__card-name p {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    color: var(--color-text);
}

.participants__card-name p.description {
    font-size: 20px;
    font-weight: 400;
    opacity: .6;
}

.participants__card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.participants__card-content .btn { 
    padding: 12px;
    background-color: transparent;
    border: 1px solid var(--color-link);
    outline-style: none;
    border-radius: 62px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.participants__card-content .btn span {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: var(--color-link);
}

/* running_line */

.running_line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    color: #fff;
    overflow: hidden;
    padding: 18px 0;
}

.hero .running_line {
    bottom: -60px;
}

footer .running_line {
    bottom: auto;
    top: -60px;
}

.running_line__track {
    display: flex;
    width: max-content;
    animation: running-line 40s linear infinite;
}

.running_line__content {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 12px;
}

.running_line__content span {
    width: 6px;
    height: 6px;
    background-color: var(--color-bg);
    border-radius: 100%;
}

.running_line__content p {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    line-height: 110%;
    font-weight: 400;
    color: var(--color-bg);
    text-transform: uppercase;
}


@keyframes running-line {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/* footer */

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 72px 72px;
    width: 100%;
    background-color: var(--color-footer-background);
}

footer .footer__container {
    width: 100%;
    max-width: 1366px;
    padding: 0 72px;
}

footer .desc {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-text);
    opacity: .6;
}


/* media */

@media (max-width: 1366px) {
    main {
        max-width: 1366px;

    }
    .hero {
        max-width: 1366px;
    }
    footer {
        max-width: 1366px;
    }
}


@media (max-width: 768px) {
    header {
        padding: 18px 20px 0;
    }
    .header__logo {
        height: 32px;
    }
    .header__logo img {
        height: 100%;
    }
    main {
        max-width: 768px;
    }
    .hero__container {
        padding: 0;
    }
    .hero {
        height: 812px;
        padding: 90px 20px 291px;
    }
    .hero .background {
        background-image: url('../img/hero-mobile.jpg');
        background-position: bottom;
    }

    .hero__title h1 {
        font-size: 36px;        
    }

    .hero__description {
        text-align: left;
        margin-bottom: 32px;
    }

    .hero__buttons {
        flex-direction: column;
        gap: 14px;
    }

    .hero__buttons .btn {
        width: 100%;
        padding: 10px 43px;
        height: 47px;
    }

    .hero__buttons .btn span {
        display: inline;
        font-size: 16px;
    }

    .hero__buttons .btn.btn-secondary {
        background-color: var(--color-bg);
        border: none;
    }

    .hero .running_line {
        bottom: 0;
    }
    .running_line {
        padding: 10px 0;
    }
    .running_line__content p {
        font-size: 16px;
    }

    footer {
        padding: 78px 20px 60px;
    }
    footer .footer__container{
        padding: 0;
    }
    footer .running_line {
         top: 0;
    }

}